.stars_container {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: #c6c6c6;

    .pagination {margin-bottom: 10px;}

    .stars {
        display: flex;
        flex: 1 0 auto;
        flex-direction: column;
        padding: 10px 0;

        .star__name {
            margin-bottom: 5px;
        }

        .star__item {
            display: flex;
            margin-bottom: 15px;
            width: 800px;

            .micro_star_img {
                display: inline-block;
                height: 200px;
                max-width: 360px;
                margin: 0 10px 0 0;
                cursor: pointer;
                border-radius: 4px;

                -moz-user-select: none;
                -webkit-user-select: none;
                -ms-user-select: none;
                user-select: none;
            }
            .star__content__container {
                display: flex;
                flex-direction: column;
                padding: 5px;

                .star__name {
                    cursor: pointer;
                    &:hover {color: white;}
                }
                .star__content {
                    cursor: pointer;
                    &:hover {color: white;}
                }
            }
        }
        .stars__empty_message {
            margin-bottom: 10px;
        }
    }
}