.tags {
    margin: 12px 0 0 0;
}

.tag_item {
    display: inline-block;
    margin: 0 1px 12px 0;

    a {
        font-size: 14px;
        padding: 3px 7px 5px 7px;
        background-color: #151515;
        border-radius: 10px;;
        color: #c6c6c6;
    }
    a:hover, a:active {
        background-color: #212121;
        color: #fff;
    }
    a:visited {}
}